lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

# os and ide files
.DS_store
.idea

# runtime dependency files
node_modules
pids
logs
public/components/*
public/build/*
web/build/*

# deployment dependency files


